openapi: 3.2.0
info:
  title: OFX AISP Refresh Token API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 8 operation(s) read from 6 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; OFX has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTI0-post-token
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTI1-get-authorize
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTIy-post-refresh-token
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTIz-post-authorization-code
  - https://api-docs.ofx.com/docs/aisp-api/b3A6Mzc1NDY5NTg-create-account-access-consents
  - https://api-docs.ofx.com/docs/aisp-api/b3A6Mzc1NDY5NjE-get-accounts
  x-docs-section: aisp-api
servers:
- url: https://beta.api.ofx.com
security:
- OAuth_2.0:
  - payments
tags:
- name: Refresh Token
paths:
  /refresh_token:
    post:
      operationId: post_refresh_token
      tags:
      - Refresh Token
      summary: The endpoint to refresh the access token
      x-source: https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTIy-post-refresh-token
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRefreshTokenRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRefreshTokenResponse'
components:
  schemas:
    PostRefreshTokenRequest:
      type: object
      properties:
        grant_type:
          type: string
        refresh_token:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
    PostRefreshTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        refresh_token:
          type: string
        refresh_token_expires_in:
          type: integer
        token_type:
          type: string
  securitySchemes:
    OAuth_2.0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox.api.ofx.com/v1/oauth/token
          scopes:
            payments: ''
        authorizationCode:
          authorizationUrl: https://sandbox.api.ofx.com/v1/oauth/authorize
          tokenUrl: https://sandbox.api.ofx.com/v1/oauth/token
          scopes:
            payments: ''
      x-source: https://api-docs.ofx.com/docs/aisp-api/ZG9jOjExNjE2NDU1-authentication
