openapi: 3.2.0
info:
  title: OFX AISP Authorize API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 8 operation(s) read from 6 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; OFX has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTI0-post-token
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTI1-get-authorize
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTIy-post-refresh-token
  - https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTIz-post-authorization-code
  - https://api-docs.ofx.com/docs/aisp-api/b3A6Mzc1NDY5NTg-create-account-access-consents
  - https://api-docs.ofx.com/docs/aisp-api/b3A6Mzc1NDY5NjE-get-accounts
  x-docs-section: aisp-api
servers:
- url: https://beta.api.ofx.com
security:
- OAuth_2.0:
  - payments
tags:
- name: Authorize
paths:
  /authorize:
    get:
      operationId: get_authorize
      tags:
      - Authorize
      summary: The endpoint to log the user in and issue the authorize code
      x-source: https://api-docs.ofx.com/docs/aisp-api/ZG9jOjM3NTQ2OTI1-get-authorize
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: client identifier
      - name: consent_id
        in: query
        required: true
        schema:
          type: string
        description: accounts access consent identifier
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
        description: authorization code flow callback uri
      - name: response_type
        in: query
        required: true
        schema:
          type: string
        description: response type. must be code.
      - name: scope
        in: query
        required: true
        schema:
          type: string
        description: the scope of the access request
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: optional state to be sent back to callback uri
      responses:
        '302':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorizeResponse'
components:
  schemas:
    GetAuthorizeResponse:
      type: object
      properties:
        Location:
          type: string
          description: is sent only if user has entered username & password and allowed the App to access his information
  securitySchemes:
    OAuth_2.0:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox.api.ofx.com/v1/oauth/token
          scopes:
            payments: ''
        authorizationCode:
          authorizationUrl: https://sandbox.api.ofx.com/v1/oauth/authorize
          tokenUrl: https://sandbox.api.ofx.com/v1/oauth/token
          scopes:
            payments: ''
      x-source: https://api-docs.ofx.com/docs/aisp-api/ZG9jOjExNjE2NDU1-authentication
